
config LIRE_RACKCORE_BUILD_SRC
    bool "    Build RACK core"
    default n
    depends on LIRE_BUILD_SRC && LIRE_RACKCORE_INST
    select LIRE_XENOMAI_SCND_BUILD_SRC
    select LIRE_OPENCV_BUILD_SRC if LIRE_RACKCORE_OPENCV_SUPPORT
    select LIRE_LIBPNG_BUILD_SRC if LIRE_RACKCORE_LIBPNG_SUPPORT
    select LIRE_LIBJPEG_BUILD_SRC if LIRE_RACKCORE_LIBJPEG_SUPPORT
    select LIRE_ZLIB_BUILD_SRC if LIRE_RACKCORE_ZLIB_SUPPORT
    select LIRE_LIBUSB_BUILD_SRC if LIRE_RACKCORE_LIBUSB_SUPPORT
    select LIRE_BOOST_BUILD_SRC if LIRE_RACKCORE_BOOST_SUPPORT
    select LIRE_PCL_BUILD_SRC if LIRE_RACKCORE_PCL_SUPPORT
    help
    Build RACK core components (TiMS and librack). Xenomai 3 required.
