
config LIRE_COMMON_MSGS_BUILD_SRC
    bool "    Build common_msgs"
    default n
    depends on LIRE_BUILD_SRC && LIRE_COMMON_MSGS_INST
    select LIRE_CATKIN_BUILD_SRC
    select LIRE_MESSAGE_GENERATION_BUILD_SRC
    select LIRE_MESSAGE_RUNTIME_BUILD_SRC
    select LIRE_STD_MSGS_BUILD_SRC
    select LIRE_ROSCPP_CORE_BUILD_SRC
    select LIRE_BOOST_BUILD_SRC
    help
	...
