
config LIRE_IPROUTE2_BUILD_SRC
    bool "    Build iproute2"
    default y
    depends on LIRE_BUILD_SRC && LIRE_IPROUTE2_INST
    help
    Builds the iproute2 package. This contains mainly the ip command.
