
config LIRE_GENLISP_BUILD_SRC
    bool "    Build genlisp"
    default n
    depends on LIRE_BUILD_SRC && LIRE_GENLISP_INST
    select LIRE_CATKIN_BUILD_SRC
    select LIRE_GENMSG_BUILD_SRC
    help
	...
