
config LIRE_PYTHON_BUILD_SRC
    bool "    Build new python"
    default n
    depends on LIRE_BUILD_SRC && LIRE_PYTHON_INST
    select LIRE_NCURSES_BUILD_SRC
    select LIRE_ZLIB_BUILD_SRC
    help
    ...

