
config LIRE_ROS_COMM_BUILD_SRC
    bool "    Build ros_comm"
    default n
    depends on LIRE_BUILD_SRC && LIRE_ROS_COMM_INST
    select LIRE_ROSCPP_CORE_BUILD_SRC
    select LIRE_ROS_CORE_BUILD_SRC
    select LIRE_LZ4_BUILD_SRC
    select LIRE_BOOST_BUILD_SRC
    select LIRE_CONSOLE_BRIDGE_BUILD_SRC
    select LIRE_ROS_CORE_BUILD_SRC
    select LIRE_BZIP2_BUILD_SRC
    select LIRE_STD_MSGS_BUILD_SRC
    select LIRE_GENCPP_BUILD_SRC
    select LIRE_GENMSG_BUILD_SRC
    select LIRE_GENPY_BUILD_SRC
    select LIRE_GENLISP_BUILD_SRC
    select LIRE_MESSAGE_RUNTIME_BUILD_SRC
    select LIRE_MESSAGE_GENERATION_BUILD_SRC
    select LIRE_ROS_COMM_MSGS_BUILD_SRC
    select LIRE_PYTHON_BUILD_SRC
    select LIRE_PYYAML_BUILD_SRC
    select LIRE_ROSPKG_BUILD_SRC
    help
	...
