
config LIRE_OPENCV_BUILD_SRC
    bool "    Build new OpenCV"
    default y
    depends on LIRE_BUILD_SRC && LIRE_OPENCV_INST
    select LIRE_BOOST_BUILD_SRC
    select LIRE_LIBPNG_BUILD_SRC 
    select LIRE_LIBJPEG_BUILD_SRC
    select LIRE_ZLIB_BUILD_SRC
    help
