
config LIRE_RTNET_BUILD_SRC
    bool "    Build new RTnet"
    default y
    depends on LIRE_BUILD_SRC && LIRE_RTNET_INST
    select LIRE_XENOMAI_BUILD_SRC
    help
    If the package is too old, you can build a new package from the LIRE-source.
    The LIRE-source have to be linked in the LIRE-SRC directory.
