
config LIRE_CATKIN_BUILD_SRC
    bool "    Include catkin in host based Python"
    default n
    depends on LIRE_BUILD_SRC && LIRE_CATKIN_INST
    select LIRE_CATKIN_PKG_BUILD_SRC
    select LIRE_EMPY_BUILD_SRC
    select LIRE_PYTHON_BUILD_SRC
    help
    ...

