
config LIRE_LIBRACKRTROS_BUILD_SRC
    bool "    Build modified RACK library for rtros"
    default n
    depends on LIRE_BUILD_SRC && LIRE_LIBRACKRTROS_INST
    select LIRE_XENOMAI_BUILD_SRC
    select LIRE_RACK_BUILD_SRC
    help
    ...T_T...
